<main>
  <aside>
    <nav>
      <ul>
        <li>
          <a href="/proyectos">Proyectos</a>
        </li>
        <li>
          <a href="/contacto">Contacto</a>
        </li>
      </ul>
    </nav>
  </aside>
</main>
