---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Mi blog de aprendizaje sobre Astro</h1>
  <p>
    Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </p>
</BaseLayout>
