---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>
    <Social platform="Twitter" username="waseidev" />
    <Social platform="GitHub" username="waseidev" />
  </p>
</footer>
