---
import { languages } from "../i18n/ui";
import {
  getRouteFromUrl,
  useTranslatedPath,
  getLangFromUrl,
} from "../i18n/utils";
const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={translatePath(`/${route ? route : ""}`, lang)}>{label}</a>
      </li>
    ))
  }
</ul>
